# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- R
- Python 
- Ruby 
- Git
- Github
- RStudio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby
4. Julia

Some of the commonly used libraries used by Data Scientists include:
  1.   Scikit-Learn
  2.   TensorFlow
  3.   Matplotlib
  4.   NumPy
  5.   Pandas

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Apache Spark |
| Python |
| R |
| MatLab |

# H3 Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
print(3 * 4 + 5)
# This a simple arithmetic expression to mutiply then add integers.

17

In [17]:
print (200 / 60)
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

# H2 Author
Ameet